.card-container{
  height: 200px;
  width: 200px;
  background: linear-gradient(rgb(240, 222, 203), rgb(231, 217, 209));
  border: 2px solid black;
  padding: 20px;
}

.card{
  flex-wrap: wrap;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

ul{
  font-weight: 700;
  font-size: 20px;
  margin-top: 40px;
  list-style: none;
  display: flex;
  gap: 150px;
  margin-left: 340px;
}

p:hover{
  text-decoration: underline;
  color: rgb(187, 171, 151);
cursor: pointer;
}

